USE [master]
GO
/****** Object:  Database [BankTransactions]    Script Date: 4/11/2018 8:17:41 AM ******/
CREATE DATABASE [BankTransactions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankTransactions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BankTransactions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankTransactions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BankTransactions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankTransactions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankTransactions]
GO
USE [BankTransactions]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/11/2018 8:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NULL,
	[Action] [nvarchar](50) NULL,
	[AccountNumber] [int] NULL,
	[AmountChanged] [decimal](18, 2) NULL,
	[NewAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
